/*
  It designed to easily set a background image with cover behavior, ensuring that the image covers the entire
  background area while maintaining its aspect ratio.

  usage: @include bg-cover;
*/

@mixin bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
