@import "@/app/config/styles/connections";

$form-gap: 1.5rem;

.home-page {
  padding-block: 5rem;

  &__btns {
    @include flex-all-center;
    gap: 2rem;
    max-width: 40rem;
  }

  &__form {
    @include flex-clmn;
    gap: $form-gap;
    margin-top: 2rem;

    &-wrapper {
      @include flex-all-sb;
      gap: $form-gap;
    }
  }
}