@import "@/app/config/styles/connections.scss";

.close-button {
  @include box(4rem);
  position: relative;

  border-radius: var(--radius);
  background-color: var(--primary-color-100);
  transition: background-color var(--transition);

  @media (hover) {
    &:hover {
      background-color: var(--primary-color);
      transition: background-color var(--transition);

      &::after,
      &::before {
        background-color: var(--primary-color-100);
        transition: background-color var(--transition);
      }
    }
  }

  &::after,
  &::before {
    @include pseudo($width: 2rem, $height: 0.2rem);

    top: 50%;
    left: 50%;
    background-color: var(--primary-color);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
