@import "connections.scss";

.scroll {
  &::-webkit-scrollbar {
    @include box(0.4rem);

    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    border-radius: var(--radius);
    cursor: pointer;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: var(--radius);
    background-color: var(--gray-100);
    cursor: pointer;
    transition: background-color var(--transition);

    @media (hover) {
      &:hover {
        background-color: var(--gray-200);
        transition: background-color var(--transition);
      }
    }
  }
}