@import "@/app/config/styles/connections.scss";

.header {
  position: relative;
  z-index: z("header");
  min-height: var(--header-height);
  background-color: var(--white-100);
  box-shadow: var(--shadow);
  padding-block: 1rem;

  &__union,
  &__wrapper {
    @include flex-all-sb;

    gap: 1rem;
  }
}
